@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif
}

nav .navbar-brand .logo {
    padding: 10px 15px;
    border-radius: 8px
}

.logo {
    height: 100px;
    width: 100px;
}

nav .navbar-brand .h4 {
    margin-bottom: 0px;
    font-weight: 900
}

.navbar-light .navbar-nav .nav-link {
    color: black
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #009bd4
}

.navbar-light .navbar-nav .nav-link.active {
    color: #009bd4
}

nav ul li a .cart {
    padding: 4px 6px;
    border-radius: 6px;
    position: relative;
    display: inline
}

nav ul li a .cart::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff5252;
    top: -1px
}

.navbar-toggler:focus {
    box-shadow: none
}

/* View Profile */
.profilepic {
    max-width: 100%;
    max-height: 100%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.about-text h3 {
  font-size: 45px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }

}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}

.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 20px;
}

.about-list .media {
  padding: 5px 0;
}

.about-list label {
  color: #20247b;
  font-weight: 600;
  width: 100%;
  position: relative;
}

.about-list p {
  font-size: 15px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #009bd4;
  width: 30%;
  height: 300px;
  padding: 10px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #007caa;
}

.tab button.active {
  background-color: #007caa;
}

/* Style the tab  */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 0px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

/* Style the tab */
.tabh {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding: 5px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tabh button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tabh button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tabh button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontenth {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .modal-body{
      padding: 2px 16px;
  }
  